# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
envn/  # 사용자 정의 가상환경 디렉토리

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Logs and local files
*.log
*.sqlite3
.env
.env.*

# macOS
.DS_Store